
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据查询中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Static/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Static/layui/style/admin.css" rel="stylesheet" />
</head>
<body>
    @{

        var langLeyName = ViewData["langLeyNameString"];
        var langlryExpTableId = (int)ViewData["langlryExpTableId"];
        var langLeyStringName = ViewData["langLeyStringName"];
    }
    <div class="layui-fluid">
        <div class="layui-col-sm12">
            <div clas="layui-card layui-col-ssm12">

                <table id="langley_list" lay-filter="langleylist"></table>
                <script type="text/html" id="Tool_title">
                    <div class=" layui-col-md12">
                        <div class="layui-col-md3 layui-col-space10">
                            <label class="layui-form-label" id="langLeyName" style="width:auto;text-anchor:inherit">@langLeyName</label>
                        </div>
                        <div class="layui-col-md2 layui-col-space10">
                            <label class="layui-form-label" style="width:55%">下一组刺激量：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="sq" name="sq" style="width:90px" onkeyup="value=value.replace(/[^\d\.]/g,'')" />
                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-space10">
                            <label class="layui-form-label" style="width:60%;text-anchor:inherit">下一组响应状态：</label>
                            <div class="layui-input-inline" style="width:100px">
                                <select name="modules" lay-verify="required" lay-filter="select_response">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-space10">
                            <div class="layui-col-md3 layui-col-space5">
                                <button class="layui-btn" value="1" lay-event="RequestBtn">响应</button>
                            </div>
                            <div class="layui-col-md3 layui-col-space5">
                                <button class="layui-btn layui-btn-normal" value="0" lay-event="NotRequestBtn">不响应</button>
                            </div>
                        </div>
                    </div>
                </script>

                <script type="text/html" id="response_state">
                    {{# if(d.ldt_Number == d.number -1){}}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove"><i></i>撤销</a>
                    {{# } }}
                </script>
            </div>


        </div>
        <div class="layui-col-sm12">
            <div class="layui-col-md12 layui-col-space10">
                <div class="layui-col-md2 layui-col-space5">
                    <div class="layui-col-md12">
                        <label class="layui-form-label" style="width:auto">测试次数：</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" style="width:5%" id="testNumber" name="testNumber"></label>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-space5">
                    <div class="layui-col-md12">
                        <label class="layui-form-label" style="width:auto">混合区间刺激量个数：</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" style="width:5%" id="NM" name="NM"></label>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-space5">
                    <div class="layui-col-md12">
                        <label class="layui-form-label" style="width:40%">0，1转换次数：</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" style="width:5%" id="label3"></label>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-space5">
                    <div class="layui-col-md12">
                        <label class="layui-form-label" style="width:auto">兰利法: @langLeyStringName/@langLeyName</label>
                    </div>
                </div>
                
            </div>
            <div class="layui-card layui-col-sm12">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">点计算</li>
                        <li>区间计算</li>
                        <li>批量区间计算</li>
                    </ul>
                    <div class="layui-tab-content">

                        <div class="layui-tab-item layui-show">
                            <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                <div class="layui-fluid">
                                    <div class="layui-row layui-col-space15">

                                        <div class="layui-col-md12">
                                            <div class="layui-card">

                                                <div class="layui-card-body layui-row layui-col-space10">

                                                    <div class="layui-col-md4 layui-col-space10">
                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label">平均值</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="avg" id="avg" autocomplete="off" class="layui-input" readonly>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label">标准差</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="sigma" id="sigma" autocomplete="off" class="layui-input" readonly>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label" style="width:auto">99.9%响应点</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="prec99" id="prec99" style="width:98%" autocomplete="off" class="layui-input" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layui-col-md4 layui-col-space10">

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label">0.1%响应点</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="prec01" id="prec01" autocomplete="off" class="layui-input" readonly>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md6">
                                                                <label class="layui-form-label">响应概率</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="responseProbability" id="responseProbability" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                </div>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" data-type="responsePoint" id="responsePointButton" disabled>
                                                                    响应点
                                                                </button>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <input type="text" name="responsePointValue" id="responsePointValue" autocomplete="off" class="layui-input" readonly style="background-color: darkgray">
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md6">
                                                                <label class="layui-form-label">刺激量</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="stimulusQuantity" id="stimulusQuantity" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                </div>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" id="responseProbabilityButton" data-type="responseProbability" disabled>响应概率</button>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <input type="text" name="responseProbabilityValue" id="responseProbabilityValue" autocomplete="off" class="layui-input" readonly style="background-color: darkgray">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4 layui-col-space10">
                                                        <div class="layui-btn-group layui-col-md12">
                                                            <button type="button" class="layui-btn" style="width:50%;" data-type="ParameterSetting">
                                                                修改分析参数
                                                            </button>
                                                            <button type="button" class="layui-btn" style="width:50%;" data-type="technicalconditions">
                                                                技术条件
                                                            </button>
                                                        </div>
                                                        <div class="layui-btn-group layui-col-md12">
                                                            <button type="button" class="layui-btn" style="width:100%;" data-type="Excel">
                                                                导出excel
                                                            </button>
                                                        </div>
                                                        <div class="layui-btn-group layui-col-md12">

                                                            <button type="button" class="layui-btn" style="width:100%;" data-type="pointcalculate">
                                                                计算
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                <div class="layui-fluid">
                                    <div class="layui-row layui-col-space15">

                                        <div class="layui-card">
                                            <div class="layui-col-md12 layui-col-space10">

                                                <div class="layui-col-md12 layui-col-space5">
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">响应概率</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="reponseProbability2" id="reponseProbability2" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">置信水平</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="confidenceLevel1" id="confidenceLevel1" value="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" id="responseProbabilityInterval" data-type="responseProbabilityIntervalEstimate" disabled>响应概率区间估计</button>
                                                    </div>
                                                </div>

                                                <div class="layui-col-md12 layui-col-space5">
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">刺激量</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="stimulusQuantity2" id="stimulusQuantity2" value="0" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">置信水平</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="confidenceLevel2" id="confidenceLevel2" value="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" id="responsePointInterval" data-type="responsePointIntervalEstimate" disabled>响应点区间估计</button>
                                                    </div>
                                                </div>
                                                <br />
                                                <fieldset class="layui-elem-field">
                                                    <legend>双侧置信区间</legend>
                                                    <div class="layui-field-box">
                                                        <div class="layui-card">
                                                            <div class="layui-card-body layui-row layui-col-space10">

                                                                <div class="layui-col-md12 layui-col-space10">
                                                                    <div class="layui-col-md12 layui-col-space5">
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="shuangConfidenceInterval1" id="shuangConfidenceInterval1" style="width:93%" readonly placeholder="响应点置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="shuangConfidenceInterval2" id="shuangConfidenceInterval2" style="width:93%" readonly placeholder="均值置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="shuangConfidenceInterval3" id="shuangConfidenceInterval3" style="width:93%" readonly placeholder="标准差置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                                <fieldset class="layui-elem-field">
                                                    <legend>单侧置信区间</legend>
                                                    <div class="layui-field-box">
                                                        <div class="layui-card">
                                                            <div class="layui-card-body layui-row layui-col-space10">

                                                                <div class="layui-col-md12 layui-col-space10">
                                                                    <div class="layui-col-md12 layui-col-space5">
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="danConfidenceInterval1" id="danConfidenceInterval1" style="width:93%" readonly placeholder="响应点置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="danConfidenceInterval2" id="danConfidenceInterval2" style="width:93%" readonly placeholder="均值置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="danConfidenceInterval3" id="danConfidenceInterval3" style="width:93%" readonly placeholder="标准差置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-card layui-col-sm8" style="height:330px;">
                                <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                    <div class="layui-fluid">
                                        <div class="layui-row">

                                            <div class="layui-col-md12">
                                                <div class="layui-card">

                                                    <div class="layui-card-body layui-row layui-col-space10">

                                                        <div class="layui-col-md12 layui-col-space10">

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label">置信水平</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="BatchConfidenceLevel3" id="BatchConfidenceLevel3" value="0.95" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label">Y轴最小值</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="yMin" id="yMin" value="0.000001" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label">Y轴最大值</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="yMax" id="yMax" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label" style="width:auto">Y轴分隔份数</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="Y_Axis" id="Y_Axis" value="20" autocomplete="off" class="layui-input" style="width:99.7%" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <button type="button" class="layui-btn layui-btn-disabled" name="IntervalCalculation" id="IntervalCalculation" style="width:100%;" data-type="BatchIntervalCalculation" disabled>批量区间计算，并导出数据</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-card layui-col-sm4">

                                <div class="layui-card layui-col-sm12">
                                    <div class="layui-card-body">
                                        <fieldset class="layui-elem-field">
                                            <legend>置信区间类型选择</legend>
                                            <div class="layui-field-box">
                                                <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                                    <div class="layui-fluid">
                                                        <div class="layui-row layui-col-space15">

                                                            <div class="layui-card">
                                                                <div class="layui-col-md12 layui-col-space10">
                                                                    <div class="layui-col-md12 layui-col-space5">
                                                                        <input type="radio" name="intervalTypeSelection3" id="intervalTypeSelection3" value="0" title="单侧置信区域">
                                                                        <input type="radio" name="intervalTypeSelection3" id="intervalTypeSelection3" value="1" title="双侧置信区域" checked>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="~/Static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../Static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'layedit','element'], function () {
            var $ = layui.$
                , form = layui.form
                , layedit = layui.layedit
                , table = layui.table
                , element = layui.element;

            //兰利法表格
    var ins=table.render({
        elem: '#langley_list'
        , url: '../LangleyExperiment/GetAllLangleys?id=' +@langlryExpTableId,//模拟接口
        height: 'full-130'//高度最大化减去差值
        //, toolbar: 'default'
        , toolbar: '#Tool_title'
        , defaultToolbar: ['exports', 'filter', 'print'
            //{自定义
            //title: '导出Excel'
            //, layEvent: 'Export'
            //, icon: 'layui-icon-export'
            //},
            ]
        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
            , curr: 1 //设定初始在第 5 页
            , groups: 3 //只显示 1 个连续页码
            , first: '首页' //不显示首页
            , last: '尾页' //不显示尾页
        }
        ,limits:[10,20,50,100,200,500,800]
        , limit: 20
        , cols: [[
            { field: 'ldt_Number', width: 80, title: '编号', sort: true }
            , { field: 'ldt_StimulusQuantity', title: '刺激量' }
            , { field: 'ldt_Response', title: '响应', align: 'center' }
            , { field: 'ldt_Mean', title: '均值' }
            , { field: 'ldt_StandardDeviation', title: '标准差' }
            , { field: 'ldt_MeanVariance', title: '均值的方差' }
            , { field: 'ldt_StandardDeviationVariance', title: '标准值的方差' }
            , { field: 'ldt_Covmusigma', title: 'Covmusigma' }
            , { title: '操作', align: 'center', fixed: 'right', toolbar: '#response_state' }
        ]]
        , text: '对不起，加载出现异常！'
    });
            //下拉框监听事件
            form.on('select(select_response)', function (obj) {
                var data = obj.value;
                $.ajax({
                    url: "../LangleyExperiment/InsertData",
                    type: "post",
                    data: {
                        "response": data,
                        "sq": document.getElementById("sq").value,
                        "langlryExpTableId": @langlryExpTableId,
                    }
                    ,dataType: "json",
                    success: function (data) {

                        if (data[0]) {
                            layer.msg('增加成功', {
                                icon: 1,
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            });

                            table.reload('langley_list'); //数据刷新
                            $("#testNumber").text(data[1]);
                            $("#NM").text(data[2]);

                            document.getElementById("sq").value = data[3];

                        } else {
                            layer.msg('增加失败', {
                                icon: 2,
                                shift: 6,  //震动效果
                                time: 1000  //1秒关闭
                            });
                        }
                    }
                });
            });
            //监听工具头
            table.on('toolbar(langleylist)', function (obj) {
                var data = obj.data;
                if (obj.event == 'NotRequestBtn') {
                    $.ajax({
                    url: "../LangleyExperiment/InsertData",
                    type: "post",
                    data: {
                        "response": 0,
                        "sq": document.getElementById("sq").value,
                        "langlryExpTableId": @langlryExpTableId,
                    }
                    ,dataType: "json",
                    success: function (data) {
                        if (data[0]) {
                            layer.msg('增加成功', {
                                icon: 1,
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            });
                            table.reload('langley_list'); //数据刷新
                            $("#testNumber").text(data[1]);
                            $("#NM").text(data[2]);

                            document.getElementById("sq").value = data[3];

                        } else {
                            layer.msg('增加失败', {
                                icon: 2,
                                shift: 6,  //震动效果
                                time: 1000  //1秒关闭
                            });
                        }
                    }
                    });
                } else if (obj.event == 'RequestBtn') {
                    $.ajax({
                    url: "../LangleyExperiment/InsertData",
                    type: "post",
                    data: {
                        "response": 1,
                        "sq": document.getElementById("sq").value,
                        "langlryExpTableId": @langlryExpTableId,
                    }
                    ,dataType: "json",
                    success: function (data) {
                        if (data[0]) {
                            layer.msg('增加成功', {
                                icon: 1,
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            });
                            table.reload('langley_list'); //数据刷新
                            $("#testNumber").text(data[1]);
                            $("#NM").text(data[2]);

                            document.getElementById("sq").value = data[3];

                        } else {
                            layer.msg('增加失败', {
                                icon: 2,
                                shift: 6,  //震动效果
                                time: 1000  //1秒关闭
                            });
                        }
                    }
                });
                }
            });
            //监听工具条
            table.on('tool(langleylist)', function (obj) {
                var data = obj.data;
                if (obj.event === 'remove') {
                    $.ajax({
                        url: "../LangleyExperiment/RevocationData",
                        type: "post",
                        data: {
                            "id": data.ldt_Id,
                            "langlryExpTableId":@langlryExpTableId
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data[0]) {
                                layer.msg('删除成功', {
                                    icon: 1,
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                });
                                table.reload('langley_list'); //数据刷新
                                document.getElementById("sq").value = data[2];
                                $("#testNumber").text(data[1]);
                            } else {
                                layer.msg('删除失败', {
                                    icon: 2,
                                    shift: 6,  //震动效果
                                    time: 1000  //1秒关闭
                                });
                            }
                        }
                    });
                }

            });
            var active = {
                //兰利法分析参数设置
                ParameterSetting: function () {
                    layer.open({
                        type: 2
                        , title: '兰利法分析参数设置'
                        , content: ['/ParameterSetting/ParameterSetting?langlryExpTableId=' +@langlryExpTableId]
                        , area: ['450px', '260px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submit = layero.find('iframe').contents().find("#role_submit");

                            //监听提交
                            iframeWindow.layui.form.on('submit(role_submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                var role = JSON.stringify(field);
                                //提交 Ajax 成功后，静态更新表格中的数据
                                $.ajax({
                                    type: "post",
                                    url: '@Url.Action("UpdateParameter", "ParameterSetting")',
                                    data: role,
                                    datatype: "json",
                                    contenttype: "application/json; charset=utf-8",
                                    async: false,
                                    success: function (data) {
                                        if (data[0]) {
                                            layer.msg('添加成功', {
                                                icon: 1,
                                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                            });
                                            document.getElementById("avg").value = data[3];
                                            document.getElementById("sigma").value = data[4];
                                            document.getElementById("prec99").value = data[1];
                                            document.getElementById("prec01").value = data[2];
                                        } else {
                                            layer.msg('添加失败', {
                                                icon: 2,
                                                shift: -1,  //震动效果
                                                time: 1000  //1秒关闭
                                            });
                                        }
                                    }


                                });
                                location.href = '../LangleyExperiment/LangleyExperiment?let_id=' +@langlryExpTableId;
                                layer.close(index); //关闭弹层

                            });
                            submit.trigger('click');
                        }
                    });
                },

                //技术条件
                technicalconditions: function () {
                    layer.open({
                        type: 2
                        , title: '技术条件'
                        , content: ['/TechnicalConditions/TechnicalConditions?id=' +@langlryExpTableId+'&name=' + "L"]
                        , area: ['400px', '250px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submit = layero.find('iframe').contents().find("#technicalconditions_submit");

                            //监听提交
                            iframeWindow.layui.form.on('submit(technicalconditions_submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                var role = JSON.stringify(field);
                                //提交 Ajax 成功后，静态更新表格中的数据
                                $.ajax({
                                    type: "post",
                                    url: '@Url.Action("TechnicalConditions_Update", "TechnicalConditions")',
                                    data: role,
                                    datatype: "json",
                                    contenttype: "application/json; charset=utf-8",
                                    async: false,
                                    success: function (data) {
                                        if (data) {
                                            layer.msg('添加成功', {
                                                icon: 1,
                                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                            });
                                        } else {
                                            layer.msg('添加失败', {
                                                icon: 2,
                                                shift: -1,  //震动效果
                                                time: 1000  //1秒关闭
                                            });
                                        }
                                    }
                                });
                                layer.close(index); //关闭弹层
                            });
                            submit.trigger('click');
                        }
                    });
                },
                //计算
                pointcalculate: function () {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("PointCalculate", "LangleyExperiment")',
                        data: { "langlryExpTableId":@langlryExpTableId},
                        datatype: "json",
                        contenttype: "application/json; charset=utf-8",
                        async: false,
                        success: function (data) {
                            document.getElementById("avg").value = data[2];
                            document.getElementById("sigma").value = data[3];
                            document.getElementById("prec99").value = data[0];
                            document.getElementById("prec01").value = data[1];
                            //document.getElementById("conversionNumber").value = data[4];
                            $("#label3").text(data[4]);
                            $("#testNumber").text(data[5]);
                            $("#NM").text(data[6]);
                            document.getElementById("responsePointButton").classList.remove('layui-btn-disabled');
                            $("#responsePointButton").removeAttr("disabled");
                            document.getElementById("responseProbabilityButton").classList.remove('layui-btn-disabled');
                            $("#responseProbabilityButton").removeAttr("disabled");
                            document.getElementById("responseProbabilityInterval").classList.remove('layui-btn-disabled');
                            $("#responseProbabilityInterval").removeAttr("disabled","disable");
                            document.getElementById("responsePointInterval").classList.remove('layui-btn-disabled');
                            $("#responsePointInterval").removeAttr("disabled");
                            document.getElementById("IntervalCalculation").classList.remove('layui-btn-disabled');
                            $("#IntervalCalculation").removeAttr("disabled");
                        }
                    });
                    table.reload('langley_list');
                },

                //响应点
                responsePoint: function () {
                    var is = true;
                    var responseValue = parseFloat(document.getElementById("responseProbability").value);
                    var sigma = parseFloat(document.getElementById("sigma").value);
                    if (responseValue.toString() == "NaN") {
                        is = false;
                        layer.open({
                            type: 4
                            , title: '输入有误'
                            , content: ['响应概率不能为空', '#responseProbability']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (sigma == 0) {
                        is = false;
                        layer.open({
                            title: '操作错误'
                            , content: '当前标准差为0，不能进行响应点计算'
                            , icon: 2
                            , time: 2000
                            , anim: 6
                        });
                    }
                    if ((0 >= responseValue) || (responseValue > 1.0)) {
                        is = false;
                        layer.open({
                            type: 4
                            , title: '输入有误'
                            , content: ['响应概率取值范围(0,1]', '#responseProbability']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (is) {
                        //事件
                        $.ajax({
                            type: "post",
                            data: {
                                "fq": responseValue,
                                "favg": document.getElementById("avg").value,
                                "fsigma": document.getElementById("sigma").value,
                                "langlryExpTableId":@langlryExpTableId
                                    },
                            url: '@Url.Action("ResponsePointCalculate", "LangleyExperiment")',
                            datatype: "json",
                            contenttype: "application/json; charset=utf-8",
                            async: false,
                            success: function (data) {
                                document.getElementById("responsePointValue").value = data;
                            }
                        });
                    }
                },

                //响应概率
                responseProbability: function () {
                    var stimulusQuantity = parseFloat(document.getElementById("stimulusQuantity").value);
                    if (stimulusQuantity.toString() == "NaN") {
                        layer.open({
                            type: 4
                            , title: '输入有误'
                            , content: ['刺激量不能为空', '#stimulusQuantity']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    } else {
                        $.ajax({
                            type: "post",
                            data: {
                                "fq": stimulusQuantity,
                                "favg": document.getElementById("avg").value,
                                "fsigma": document.getElementById("sigma").value,
                                "langlryExpTableId":@langlryExpTableId
                         },
                            url: '@Url.Action("ResponseProbabilityCalculate", "LangleyExperiment")',
                            datatype: "json",
                            contenttype: "application/json; charset=utf-8",
                            async: false,
                            success: function (data) {
                                document.getElementById("responseProbabilityValue").value = data;
                            }
                        });
                    }
                },

                //响应概率区间估计
                responseProbabilityIntervalEstimate: function () {
                    var isResponse = true;
                    var reponseProbability2 = parseFloat(document.getElementById("reponseProbability2").value);
                    var confidenceLevel1 = parseFloat(document.getElementById("confidenceLevel1").value);
                    if (reponseProbability2.toString() == "NaN") {
                        isResponse = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((0 >= reponseProbability2) || (reponseProbability2 > 1.0)) {
                        isResponse = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率取值范围(0,1]', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel1.toString() == "NaN") {
                        isResponse = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平值不能为空', '#confidenceLevel1']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel1 <= 0 || confidenceLevel1 > 1) {
                        isResponse = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    var load;
                    if (isResponse) {
                        load = layer.load();
                        $.ajax({
                            type: "post",
                            data: {
                                "reponseProbability2": reponseProbability2,
                                "confidenceLevel": confidenceLevel1,
                                "langlryExpTableId":@langlryExpTableId
                         },
                            url: '@Url.Action("ResponseProbabilityIntervalEstimate", "LangleyExperiment")',
                            datatype: "json",
                            contenttype: "application/json; charset=utf-8",
                            async: false,
                            success: function (data) {
                                layer.close(load);
                                document.getElementById("danConfidenceInterval1").value = data[0];
                                document.getElementById("danConfidenceInterval2").value = data[1];
                                document.getElementById("danConfidenceInterval3").value = data[2];
                                document.getElementById("shuangConfidenceInterval1").value = data[3];
                                document.getElementById("shuangConfidenceInterval2").value = data[4];
                                document.getElementById("shuangConfidenceInterval3").value = data[5];
                            }
                        });
                    }
                },

                //响应点区间估计
                responsePointIntervalEstimate: function () {
                    var reponseProbability2 = parseFloat(document.getElementById("reponseProbability2").value);
                    var confidenceLevel2 = parseFloat(document.getElementById("confidenceLevel2").value);
                    var stimulusQuantity2 = parseFloat(document.getElementById("stimulusQuantity2").value);
                    var sigma = parseFloat(document.getElementById("sigma").value);
                    var isresponseEstimaate = true;
                    if (reponseProbability2.toString() == "NaN") {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((0 >= reponseProbability2) || (reponseProbability2 > 1.0)) {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率取值范围(0,1]', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel2.toString() == "NaN") {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平值不能为空', '#confidenceLevel2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel2 <= 0 || confidenceLevel2 > 1) {
                        isresponseEstimaate = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (stimulusQuantity2.toString() == "NaN") {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['刺激量不能为空', '#stimulusQuantity2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (sigma == 0) {
                        isresponseEstimaate = false;
                        layer.open({
                            title: '错误提示'
                            , content: '当前标准方差为0，不能进行响应点区间估计计算'
                            , time: 3000
                            , icon: 2
                        });
                    }
                    var load;
                    if (isresponseEstimaate) {
                        load = layer.load();
                        $.ajax({
                            type: "post",
                            data: {
                                "reponseProbability2": reponseProbability2,
                                "confidenceLevel2": confidenceLevel2,
                                "cjl": stimulusQuantity2,
                                "favg": document.getElementById("avg").value,
                                "fsigma": document.getElementById("sigma").value,
                                "langlryExpTableId":@langlryExpTableId
                             },
                            url: '@Url.Action("ResponsePointIntervalEstimate", "LangleyExperiment")',
                            datatype: "json",
                            contenttype: "application/json; charset=utf-8",
                            async: false,
                            success: function (data) {
                                layer.close(load);
                                document.getElementById("danConfidenceInterval1").value = data[0];
                                document.getElementById("danConfidenceInterval2").value = data[1];
                                document.getElementById("danConfidenceInterval3").value = data[2];
                                document.getElementById("shuangConfidenceInterval1").value = data[3];
                                document.getElementById("shuangConfidenceInterval2").value = data[4];
                                document.getElementById("shuangConfidenceInterval3").value = data[5];
                            }
                        });
                    }
                }
                //批量区间计算
                , BatchIntervalCalculation: function () {
                    var isConfi = true;
                    var intervalTypeSelection = 1;
                    var BatchConfidenceLevel = parseFloat(document.getElementById("BatchConfidenceLevel3").value);
                    var yMin = parseFloat(document.getElementById("yMin").value);
                    var yMax = parseFloat(document.getElementById("yMax").value);
                    var Y_Axis = parseFloat(document.getElementById("Y_Axis").value);
                    var check = document.getElementsByName("intervalTypeSelection3");
                    var avg = parseFloat(document.getElementById("avg").value);
                    var sigma = parseFloat(document.getElementById("sigma").value);
                    for (var i = 0; i < check.length; i++) {
                        if (check[i].checked) {
                            intervalTypeSelection = check[i].value;
                        }
                    }
                    if (BatchConfidenceLevel.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平不能为空', '#BatchConfidenceLevel3']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (BatchConfidenceLevel <= 0 || BatchConfidenceLevel > 1) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin > yMax) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: 'Y轴最小值不能大于Y轴最大值'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最小值不能为空', '#yMin']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (yMax.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最大值不能为空', '#yMax']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (Y_Axis.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴分隔份数不能为空', '#Y_Axis']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    var load;
                    if (isConfi) {
                        document.getElementById("IntervalCalculation").classList.add('layui-btn-disabled');
                        load = layer.load();
                        $.ajax({
                            type: "post"
                            , data: {
                                "BatchConfidenceLevel": BatchConfidenceLevel
                                , "yMin": yMin
                                , "yMax": yMax
                                , "Y_Axis": Y_Axis
                                , "intervalTypeSelection": intervalTypeSelection
                                , "favg": avg
                                , "fsigma": sigma
                                , "langlryExpTableId":@langlryExpTableId,
                            },
                            url: '@Url.Action("BatchIntervalCalculation", "LangleyExperiment")'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , success: function (data) {
                                document.getElementById("IntervalCalculation").classList.remove('layui-btn-disabled');
                                layer.close(load);
                                var index = layer.open({
                                    type: 2
                                    , area: ['70%', '80%']
                                    , id: 'LAY_layuipro1' //设定一个id，防止重复弹出
                                    , content: ['../LineChart/LineChart', 'no']
                                    , btnAlign: 'c'
                                    , anim: 1
                                    , closeBtn: 1

                                });
                            }
                        });
                    }
                },
                Excel: function () {
                    $.ajax({
                        type: "post"
                        ,data: { "langlryExpTableId":@langlryExpTableId}
                        ,url: '@Url.Action("ExportXls", "LangleyExperiment")'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                        , success: function (data) {
                            layer.msg('导出到'+data+'');
                        }
                    });
                },
            }

            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
                });
        });
    </script>

</body>
</html>