@model WsSensitivity.Controllers.DoptimizeExperimentModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据查询中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Static/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Static/layui/style/admin.css" rel="stylesheet" />
</head>
<body>
    @*@{
        var DoptimizeNameSeting = ViewData["DoptimizeNameSeting"];
        int dop_id = (int)ViewData["dop_id"];
        var DoptimizeStringName = ViewData["DoptimizeStringName"];
    }*@
    <div class="layui-fluid">
        <div class="layui-col-sm12">
            <div clas="layui-card layui-col-ssm12">

                <table id="doptimize_list" lay-filter="doptimizelist"></table>
                <script type="text/html" id="Tool_title">
                    <div class="layui-col-md12">
                        <div class="layui-col-md3 layui-col-space10">
                            <label class="layui-form-label" id="langLeyName" style="width:auto;height:25px;text-anchor:inherit">@Model.doptimizeNameSeting</label>
                        </div>
                        <div class="layui-col-md3 layui-col-space10">
                            <label class="layui-form-label" style="width:40%">下一组刺激量：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="sq" name="sq" value="@Model.sq" onkeyup="value=value.replace(/[^\d\.]/g,'')" />
                            </div>
                        </div>
                        <div class="layui-col-md5 layui-col-space10">
                            <label class="layui-form-label" style="width:30%;height:25px;text-anchor:inherit">下一组响应状态：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="required" lay-filter="select_response">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </script>

                <script type="text/html" id="response_state">
                    {{# if(d.ddt_Number == d.number){}}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove"><i></i>撤销</a>
                    {{# } }}
                </script>
            </div>


        </div>
        <div class="layui-col-sm12">
            <div class="layui-col-md12 layui-col-space10">
                 <div class="layui-col-md2 layui-col-space5">

                 </div>
                <div class="layui-col-md5 layui-col-space5">
                    <div class="layui-col-md12">
                        <label class="layui-form-label" style="width:auto">测试次数：</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" style="width:5%" id="testNumber" name="testNumber"></label>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md5 layui-col-space5">
                    <div class="layui-col-md12">
                        <label class="layui-form-label" style="width:auto">D优化法：@Model.doptimizeNameSeting</label>
                    </div>
                </div>
            </div>
            <div class="layui-card layui-col-sm12">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">点计算</li>
                        <li>区间计算</li>
                        <li>批量区间计算</li>
                    </ul>
                    <div class="layui-tab-content">

                        <div class="layui-tab-item layui-show">
                            <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                <div class="layui-fluid">
                                    <div class="layui-row layui-col-space15">

                                        <div class="layui-col-md12">
                                            <div class="layui-card">

                                                <div class="layui-card-body layui-row layui-col-space10">

                                                    <div class="layui-col-md4 layui-col-space10">

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label">平均值</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="avg" id="avg" autocomplete="off" class="layui-input" readonly>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label">标准差</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="sigma" id="sigma" autocomplete="off" class="layui-input" readonly>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label" style="width:auto">99.9%响应点</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="prec99" id="prec99" style="width:98%" autocomplete="off" class="layui-input" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layui-col-md4 layui-col-space10">

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md12">
                                                                <label class="layui-form-label">0.1%响应点</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="prec01" id="prec01" autocomplete="off" class="layui-input" readonly>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md6">
                                                                <label class="layui-form-label">响应概率</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="responseProbability" id="responseProbability" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                </div>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" data-type="responsePoint" id="responsePointButton">
                                                                    响应点
                                                                </button>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <input type="text" name="responsePointValue" id="responsePointValue" autocomplete="off" class="layui-input" readonly style="background-color: darkgray">
                                                            </div>
                                                        </div>

                                                        <div class="layui-col-md12 layui-col-space5">
                                                            <div class="layui-col-md6">
                                                                <label class="layui-form-label">刺激量</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="stimulusQuantity" id="stimulusQuantity" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                </div>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" id="responseProbabilityButton" data-type="responseProbability">响应概率</button>
                                                            </div>
                                                            <div class="layui-col-md3">
                                                                <input type="text" name="responseProbabilityValue" id="responseProbabilityValue" autocomplete="off" class="layui-input" readonly style="background-color: darkgray">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4 layui-col-space10">
                                                        <div class="layui-col-md12 ">
                                                            <label class="layui-form-label" style="width:auto">测试次数：</label>
                                                            <div class="layui-input-block">
                                                                <label class="layui-form-label" id="dtestNumber" name="dtestNumber" readonly style="background-color: darkgray;width:100%"></label>
                                                            </div>
                                                        </div>
                                                        <div class="layui-btn-group layui-col-md12">
                                                            <button type="button" class="layui-btn" style="width:100%;" data-type="technicalconditions">
                                                                技术条件
                                                            </button>
                                                        </div>
                                                        <div class="layui-btn-group layui-col-md12">
                                                            <button type="button" class="layui-btn" style="width:100%;" data-type="pointcalculate">
                                                                计算
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                <div class="layui-fluid">
                                    <div class="layui-row layui-col-space15">

                                        <div class="layui-card">
                                            <div class="layui-col-md12 layui-col-space10">

                                                <div class="layui-col-md12 layui-col-space5">
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">响应概率</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="reponseProbability2" id="reponseProbability2" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">置信水平</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="confidenceLevel1" id="confidenceLevel1" value="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" id="responseProbabilityInterval" data-type="responseProbabilityIntervalEstimate">响应概率区间估计</button>
                                                    </div>
                                                </div>

                                                <div class="layui-col-md12 layui-col-space5">
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">刺激量</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="stimulusQuantity2" id="stimulusQuantity2" value="0" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label">置信水平</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="confidenceLevel2" id="confidenceLevel2" value="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <button type="button" class="layui-btn layui-btn-disabled" style="width:100%;" id="responsePointInterval" data-type="responsePointIntervalEstimate">响应点区间估计</button>
                                                    </div>
                                                </div>
                                                <br />
                                                <fieldset class="layui-elem-field">
                                                    <legend>双侧置信区间</legend>
                                                    <div class="layui-field-box">
                                                        <div class="layui-card">
                                                            <div class="layui-card-body layui-row layui-col-space10">

                                                                <div class="layui-col-md12 layui-col-space10">
                                                                    <div class="layui-col-md12 layui-col-space5">
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="shuangConfidenceInterval1" id="shuangConfidenceInterval1" style="width:93%" readonly placeholder="响应点置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="shuangConfidenceInterval2" id="shuangConfidenceInterval2" style="width:93%" readonly placeholder="均值置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="shuangConfidenceInterval3" id="shuangConfidenceInterval3" style="width:93%" readonly placeholder="标准差置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                                <fieldset class="layui-elem-field">
                                                    <legend>单侧置信区间</legend>
                                                    <div class="layui-field-box">
                                                        <div class="layui-card">
                                                            <div class="layui-card-body layui-row layui-col-space10">

                                                                <div class="layui-col-md12 layui-col-space10">
                                                                    <div class="layui-col-md12 layui-col-space5">
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="danConfidenceInterval1" id="danConfidenceInterval1" style="width:93%" readonly placeholder="响应点置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="danConfidenceInterval2" id="danConfidenceInterval2" style="width:93%" readonly placeholder="均值置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-col-md4">
                                                                            <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="text" name="danConfidenceInterval3" id="danConfidenceInterval3" style="width:93%" readonly placeholder="标准差置信区间" autocomplete="off" class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-card layui-col-sm8" style="height:330px;">
                                <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                    <div class="layui-fluid">
                                        <div class="layui-row">

                                            <div class="layui-col-md12">
                                                <div class="layui-card">

                                                    <div class="layui-card-body layui-row layui-col-space10">

                                                        <div class="layui-col-md12 layui-col-space10">

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label">置信水平</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="BatchConfidenceLevel3" id="BatchConfidenceLevel3" value="0.95" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label">Y轴最小值</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="yMin" id="yMin" value="0.000001" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label">Y轴最大值</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="yMax" id="yMax" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <div class="layui-col-md12">
                                                                    <label class="layui-form-label" style="width:auto">Y轴分隔份数</label>
                                                                    <div class="layui-input-block">
                                                                        <input type="text" name="Y_Axis" id="Y_Axis" value="20" autocomplete="off" class="layui-input" style="width:99.7%" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="layui-col-md12 layui-col-space5">
                                                                <button type="button" class="layui-btn layui-btn-disabled" name="IntervalCalculation" id="IntervalCalculation" style="width:100%;" data-type="BatchIntervalCalculation">批量区间计算，并导出数据</button>
                                                            </div>

                                                            <div class="layui-col-md12">
                                                                <div class="layui-progress layui-progress-big" lay-showPercent="true">
                                                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="layui-col-md12 layui-col-space5">
                                                                @*<button type="button" class="layui-btn layui-btn-disabled" name="InputIntervalCalculation" id="InputIntervalCalculation" style="width:100%;" data-type="InputBatchIntervalCalculation">导入批量区间计算数据</button>*@
                                                                <button type="button" class="layui-btn layui-btn-disabled" name="InputIntervalCalculation"id="InputIntervalCalculation"  style="width:100%;"><i class="layui-icon"></i>导入批量区间计算数据</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-card layui-col-sm4">

                                <div class="layui-card layui-col-sm12">
                                    <div class="layui-card-body">
                                        <fieldset class="layui-elem-field">
                                            <legend>置信区间类型选择</legend>
                                            <div class="layui-field-box">
                                                <div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin">
                                                    <div class="layui-fluid">
                                                        <div class="layui-row layui-col-space15">

                                                            <div class="layui-card">
                                                                <div class="layui-col-md12 layui-col-space10">
                                                                    <div class="layui-col-md12 layui-col-space5">
                                                                        <input type="radio" name="intervalTypeSelection3" id="intervalTypeSelection3" value="0" title="单侧置信区域">
                                                                        <input type="radio" name="intervalTypeSelection3" id="intervalTypeSelection3" value="1" title="双侧置信区域" checked>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="~/Static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../Static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form','upload', 'table','layedit'], function () {
            var $ = layui.$
                , form = layui.form
                , layedit = layui.layedit
                , upload = layui.upload
                , table = layui.table;

                //D优化法表格
                table.render({
                    elem: '#doptimize_list'
                    , url: '../DoptimizeExperiment/GetAllDoptimizes?dop_id=' + @Model.det.det_Id,//模拟接口
                     height: 'full-130'//高度最大化减去差值
                    //, toolbar: 'default'
                    , toolbar: '#Tool_title'
                    , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                        , curr: 1 //设定初始在第 5 页
                        , groups: 3 //只显示 1 个连续页码
                        , first: '首页' //不显示首页
                        , last: '尾页'//不显示尾页
                        , theme: '#c71585'
                    }
                    , limits: [10, 20, 50, 100, 200, 500, 800]
                    , limit: 20
                    , cols: [[
                        { field: 'ddt_Number', width: 80, title: '编号', sort: true }
                        , { field: 'ddt_StimulusQuantity', title: '刺激量' }
                        , { field: 'ddt_Response', title: '响应', align: 'center' }
                        , { field: 'ddt_Mean', title: '均值' }
                        , { field: 'ddt_StandardDeviation', title: '标准差' }
                        , { field: 'ddt_SigmaGuess', title: 'SigmaGuess' }
                        , { field: 'ddt_MeanVariance', title: '均值的方差' }
                        , { field: 'ddt_StandardDeviationVariance', title: '标准值的方差' }
                        , { field: 'ddt_Covmusigma', title: 'Covmusigma' }
                        , { title: '操作', align: 'center', fixed: 'right', toolbar: '#response_state' }
                    ]]
                    , text: '对不起，加载出现异常！'
                });
                //下拉框监听事件
                form.on('select(select_response)', function (obj) {
                    var data = obj.value;
                    alert(obj.value);
                    $.ajax({
                        url: "../DoptimizeExperiment/InsertData",
                        type: "post",
                        data: {
                            "dop_id":@Model.det.det_Id,
                            "response": data,
                            "sq": document.getElementById("sq").value
                        },
                        dataType: "json",
                        success: function (data) {

                            if (data[0]) {
                                layer.msg('增加成功', {
                                    icon: 1,
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                });

                         table.reload('doptimize_list'); //数据刷新
                                $("#testNumber").text(data[1]);
                                $("#NM").text(data[2]);

                                document.getElementById("sq").value = data[3];

                            } else {
                                layer.msg('增加失败', {
                                    icon: 2,
                                    shift: 6,  //震动效果
                                    time: 1000  //1秒关闭
                                });
                            }
                        }
                    });
                });
                //监听工具条
                table.on('tool(doptimizelist)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'remove') {
                        var massage = '确认撤销编号为' + data.ddt_Number + '么？'
                        layer.confirm(massage, {
                            btn: ['确认', '取消'] //按钮
                        }, function () {
                            $.ajax({
                                url: "../DoptimizeExperiment/RevocationData",
                                type: "post",
                                data: {
                                    "dop_id":@Model.det.det_Id,
                                    "id": data.ldt_Id
                                },
                                dataType: "json",
                                success: function (data) {
                                    if (data[0]) {
                                        layer.msg('删除成功', {
                                            icon: 1,
                                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                        });
                                        table.reload('dparam_list'); //数据刷新
                                        document.getElementById("sq").value = data[1];
                                        $("#testNumber").text(data[2]);
                                    } else {
                                        layer.msg('删除失败', {
                                            icon: 2,
                                            shift: 6,  //震动效果
                                            time: 1000  //1秒关闭
                                        });
                                    }
                                }
                            });
                        });
                    }

                });
            //文件上传
            var layerindex;
            var uploadInst = upload.render({
                elem: '#InputIntervalCalculation'
                , url: '../DoptimizeExperiment/InputIntervalCalculation'
                , accept: 'file'
                , acceptMime: 'file/xls,file/xlsx'
                , exts: 'xls|xlsx'
                ,choose: function(obj) {
                    layerindex=layer.load();
                 }
                , done: function (res, index, upload) {//上传成功回调
                    layer.msg("上传成功", {icon:1});
                    layer.close(layerindex);
                }
                , error: function (index, upload) {//上传失败回调
                    layer.msg("上传失败", {icon:2});
                    layer.close(layerindex);
                }
            });

          var active = {
                //技术条件
                technicalconditions: function () {
                    layer.open({
                        type: 2
                        , title: '技术条件'
                        , content: ['../TechnicalConditions/TechnicalConditions?langlryExpTableId='+@Model.det.det_Id+'&name='+"D"]
                        , area: ['400px', '250px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submit = layero.find('iframe').contents().find("#technicalconditions_submit");

                            //监听提交
                            iframeWindow.layui.form.on('submit(technicalconditions_submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                var role = JSON.stringify(field);
                                //提交 Ajax 成功后，静态更新表格中的数据
                                $.ajax({
                                    type: "post",
                                    url: '@Url.Action("TechnicalConditions_Update", "DoptimizeTechnical")',
                                    datatype: "json",
                                    contenttype: "application/json; charset=utf-8",
                                    data: role,
                                    async: false,
                                    success: function (data) {
                                        if (data) {
                                            layer.msg('添加成功', {
                                                icon: 1,
                                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                            });
                                        } else {
                                            layer.msg('添加失败', {
                                                icon: 2,
                                                shift: -1,  //震动效果
                                                time: 1000  //1秒关闭
                                            });
                                        }
                                    }
                                });
                                layer.close(index); //关闭弹层
                            });
                            submit.trigger('click');
                        }
                    });
                },
                //计算
                pointcalculate: function () {
                    $.ajax({
                        type: "post",
                        data: {
                            "dop_id":@Model.det.det_Id
                        },
                        url:'../DoptimizeExperiment/PointCalculate',
                        datatype: "json",
                        contenttype: "application/json; charset=utf-8",
                        async: false,
                        success: function (data) {
                            document.getElementById("avg").value = data[2];
                            document.getElementById("sigma").value = data[3];
                            document.getElementById("prec99").value = data[0];
                            document.getElementById("prec01").value = data[1];
                            //document.getElementById("conversionNumber").value = data[4];
                            $("#label3").text(data[4]);
                            document.getElementById("responsePointButton").classList.remove('layui-btn-disabled');
                            document.getElementById("responseProbabilityButton").classList.remove('layui-btn-disabled');
                            document.getElementById("responseProbabilityInterval").classList.remove('layui-btn-disabled');
                            document.getElementById("responsePointInterval").classList.remove('layui-btn-disabled');
                            document.getElementById("IntervalCalculation").classList.remove('layui-btn-disabled');
                            document.getElementById("InputIntervalCalculation").classList.remove('layui-btn-disabled');
                        }
                    });
                    table.reload('doptimize_list');
                },

            //响应点
                responsePoint: function () {
                    var is = true;
                    var responseValue = parseFloat(document.getElementById("responseProbability").value);
                    if (responseValue.toString() == "NaN") {
                        is = false;
                        layer.open({
                            type:4
                            ,title: '输入有误'
                            , content: ['响应概率不能为空', '#responseProbability']
                            , tips: [1, '#ff2121']
                            ,time:3000
                        });
                    }
                    if ((0 >= responseValue) || (responseValue > 1.0)) {
                        is = false;
                         layer.open({
                             type: 4
                             , title: '输入有误'
                             , content: ['响应概率必须在0到1之间', '#responseProbability']
                             , tips: [1, '#ff2121']
                             ,time:3000
                         });
                    }
                    if (is) {
                          //事件
                                $.ajax({
                                    type: "post",
                                    data: {
                                        "dop_id":@Model.det.det_Id,
                                        "fq": responseValue,
                                        "favg": document.getElementById("avg").value,
                                        "fsigma": document.getElementById("sigma").value
                                    },
                                    url: '@Url.Action("ResponsePointCalculate", "DoptimizeExperiment")',
                                    datatype: "json",
                                    contenttype: "application/json; charset=utf-8",
                                    async: false,
                                    success: function (data) {
                                        document.getElementById("responsePointValue").value = data;
                                    }
                                });
                    }
                },

                 //响应概率
                responseProbability: function () {
                    var stimulusQuantity = parseFloat(document.getElementById("stimulusQuantity").value);
                    if (stimulusQuantity.toString() == "NaN") {
                        layer.open({
                            type: 4
                            , title: '输入有误'
                            , content: ['刺激量不能为空', '#stimulusQuantity']
                            , tips: [1, '#ff2121']
                            ,time:3000
                        });
                    } else {
                     $.ajax({
                         type: "post",
                         data: {
                             "dop_id":@Model.det.det_Id,
                             "fq": stimulusQuantity,
                             "favg": document.getElementById("avg").value,
                             "fsigma": document.getElementById("sigma").value
                         },
                         url: '@Url.Action("ResponseProbabilityCalculate", "DoptimizeExperiment")',
                         datatype: "json",
                         contenttype: "application/json; charset=utf-8",
                         async: false,
                         success: function (data) {
                             document.getElementById("responseProbabilityValue").value = data;
                         }
                     });
                    }
                },

                 //响应概率区间估计
                responseProbabilityIntervalEstimate: function () {
                    var isResponse = true;
                    var reponseProbability2 = parseFloat(document.getElementById("reponseProbability2").value);
                    var confidenceLevel1 = parseFloat(document.getElementById("confidenceLevel1").value);
                    if (reponseProbability2.toString() == "NaN") {
                        isResponse = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((0 >= reponseProbability2) || (reponseProbability2 > 1.0)) {
                        isResponse = false;
                            layer.open({
                                type: 4
                                , content: ['响应概率必须在0到1之间', '#reponseProbability2']
                                , tips: [1, '#ff2121']
                                , time: 3000
                            });
                    }
                    if (confidenceLevel1.toString() == "NaN") {
                        isResponse = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平值不能为空', '#confidenceLevel1']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel1 <= 0 || confidenceLevel1 > 1) {
                        isResponse = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (isResponse) {
                      $.ajax({
                         type: "post",
                          data: {
                             "dop_id":@Model.det.det_Id,
                             "reponseProbability2": reponseProbability2,
                             "confidenceLevel": confidenceLevel1
                         },
                         url: '@Url.Action("ResponseProbabilityIntervalEstimate", "DoptimizeExperiment")',
                         datatype: "json",
                         contenttype: "application/json; charset=utf-8",
                         async: false,
                         success: function (data) {
                             document.getElementById("danConfidenceInterval1").value = data[0];
                             document.getElementById("danConfidenceInterval2").value = data[1];
                             document.getElementById("danConfidenceInterval3").value = data[2];
                             document.getElementById("shuangConfidenceInterval1").value = data[3];
                             document.getElementById("shuangConfidenceInterval2").value = data[4];
                             document.getElementById("shuangConfidenceInterval3").value = data[5];
                         }
                      });
                    }
                },

                  //响应点区间估计
                responsePointIntervalEstimate: function () {
                    var reponseProbability2 = parseFloat(document.getElementById("reponseProbability2").value);
                    var confidenceLevel2 = parseFloat(document.getElementById("confidenceLevel2").value);
                    var stimulusQuantity2 = parseFloat(document.getElementById("stimulusQuantity2").value);
                    var sigma = parseFloat(document.getElementById("sigma").value);
                    var isresponseEstimaate = true;
                    if (reponseProbability2.toString() == "NaN") {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((0 >= reponseProbability2) || (reponseProbability2 > 1.0)) {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率必须在0到1之间', '#reponseProbability2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel2.toString() == "NaN") {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平值不能为空', '#confidenceLevel2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (confidenceLevel2 <= 0 || confidenceLevel2 > 1) {
                        isresponseEstimaate = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (stimulusQuantity2.toString() == "NaN") {
                        isresponseEstimaate = false;
                        layer.open({
                            type: 4
                            , content: ['刺激量不能为空', '#stimulusQuantity2']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (sigma == 0) {
                        isresponseEstimaate = false;
                        layer.open({
                            title:'错误提示'
                            , content: '当前标准方差为0，不能进行响应点区间估计计算'
                            , time: 3000
                            ,icon:2
                        });
                    }
                    if (isresponseEstimaate) {
                         $.ajax({
                             type: "post",
                             data: {
                                 "dop_id":@Model.det.det_Id,
                                 "reponseProbability2": reponseProbability2,
                                 "confidenceLevel2": confidenceLevel2 ,
                                 "cjl": stimulusQuantity2,
                                 "favg": document.getElementById("avg").value,
                                 "fsigma": document.getElementById("sigma").value
                             },
                             url: '@Url.Action("ResponsePointIntervalEstimate", "DoptimizeExperiment")',
                             datatype: "json",
                             contenttype: "application/json; charset=utf-8",
                             async: false,
                             success: function (data) {
                                 document.getElementById("danConfidenceInterval1").value = data[0];
                                 document.getElementById("danConfidenceInterval2").value = data[1];
                                 document.getElementById("danConfidenceInterval3").value = data[2];
                                 document.getElementById("shuangConfidenceInterval1").value = data[3];
                                 document.getElementById("shuangConfidenceInterval2").value = data[4];
                                 document.getElementById("shuangConfidenceInterval3").value = data[5];
                             }
                         });
                    }
                }
                //批量区间计算
                , BatchIntervalCalculation: function () {
                    var isConfi = true;
                    var intervalTypeSelection = 1;
                    var BatchConfidenceLevel = parseFloat(document.getElementById("BatchConfidenceLevel3").value);
                    var yMin = parseFloat(document.getElementById("yMin").value);
                    var yMax = parseFloat(document.getElementById("yMax").value);
                    var Y_Axis = parseFloat(document.getElementById("Y_Axis").value);
                    var check =document.getElementsByName("intervalTypeSelection3");
                    var avg = parseFloat(document.getElementById("avg").value);
                    var sigma = parseFloat(document.getElementById("sigma").value);
                    for (var i = 0; i < check.length; i++) {
                        if (check[i].checked) {
                            intervalTypeSelection = check[i].value;
                        }
                    }
                    if (BatchConfidenceLevel.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平不能为空', '#BatchConfidenceLevel3']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (BatchConfidenceLevel <= 0 || BatchConfidenceLevel>1) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin > yMax) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: 'Y轴最小值不能大于Y轴最大值'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最小值不能为空', '#yMin']
                            , tips: [1, '#ff2121']
                            ,time:3000
                        });
                    }
                    if (yMax.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最大值不能为空', '#yMax']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (Y_Axis.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴分隔份数不能为空', '#Y_Axis']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (isConfi) {
                        document.getElementById("IntervalCalculation").classList.add('layui-btn-disabled');
                        document.getElementById("InputIntervalCalculation").classList.add('layui-btn-disabled');
                        $.ajax({
                            type: "post"
                            , data: {
                                "BatchConfidenceLevel": BatchConfidenceLevel
                                , "yMin": yMin
                                , "yMax": yMax
                                , "Y_Axis": Y_Axis
                                , "intervalTypeSelection": intervalTypeSelection
                                , "favg": avg
                                , "dop_id":@Model.det.det_Id,
                                 "fsigma": sigma
                            }
                            , url: '@Url.Action("BatchIntervalCalculation", "DoptimizeExperiment")'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , success: function (data) {
                                document.getElementById("IntervalCalculation").classList.remove('layui-btn-disabled');
                                document.getElementById("InputIntervalCalculation").classList.remove('layui-btn-disabled');
                                var index = layer.open({
                                    type: 2
                                    , area: ['70%', '80%']
                                    , id: 'LAY_layuipro1' //设定一个id，防止重复弹出
                                    , content: ['../LangleyLineChart/LangleyLineChart?type='+"D", 'no']
                                    , btnAlign: 'c'
                                    , anim: 1
                                    , closeBtn: 1

                                });
                            }
                        });
                    }
              },
                //文件上传
              //InputBatchIntervalCalculation: function () {
              //    alert("InputBatchIntervalCalculation");
              //}
          }
            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });



    </script>

</body>
</html>